# Python
__pycache__/
*.py[cod]

# uv virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Results
results/

#notebooks
notebooks/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/